<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Face Recognition Based Employee Attendance Logger</title>

  <link rel="icon" type="image/x-icon" href="static/icon3.png">

</head>
<style>
    section {
        background-image: url('static/bg.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body>
    <section class="vh-100">
        <div class="container py-5 h-auto">
            <center>
                <div class="row d-flex justify-content-center align-items-center h-auto w-50" style="margin-top: 10vh;">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">

                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="form-section"></div>
                                <form method="post" action="/resetPass">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-key fa-2x me-3"></i>
                                        <span class="h1 fw-bold mb-0">Change Password</span>
                                    </div>
                                    {% if incorrect == True %}
                                    <p style="color:red">Passwords do not match</p>
                                    {% endif %}

                                    <div class="form-outline mb-4">
                                        <input type="password" id="pass1" name="pass1"
                                            class="form-control form-control-lg" pattern=".{8,}" required />
                                        <label class="form-label" for="pass1" title="8 characters atleast">Password (atleast 8 characters)</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="pass2" name="pass2"
                                            class="form-control form-control-lg" pattern=".{8,}" required />
                                        <label class="form-label" for="pass2" title="8 characters atleast"> confirm Password</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block"
                                            type="button">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</body>

</html>